@import "tailwindcss";

*{
 
  
  box-sizing: border-box;
  background-color: black;
}
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #111, #b91c1c);
  border-radius: 10px;
}